.App {
    overflow: hidden;
  }
  .player {
    text-align: center;
  }
  .ytplayer {
      width: 60%;
      min-height: 180px;
      height: 380px;
  }
  .video {
    text-align: center;
  }
  
  .text-side-bar {
    text-align: center;
  }
  .video-side-img {
    min-width: 25px;
    width: 125px;
    float: left;
    min-height: 40px;
    height: auto;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
  }
  
  .card {
    overflow: hidden;
    margin: 10px;
    padding: 10px;
  }
  
  .comments {
    text-align: left;
  }
  .notcomments {
    text-align: center;
  }
  .btnrigth {
    float:right
  }
  .btnleft {
    float:left
  }