.App {
    margin: 5px;
    padding: 1px;
}

.navbar {
    border-radius: 5px 5px 5px 5px;
}

.text-center {
    text-align: right;
    margin-right: auto;
    margin-left: auto;
}

.videosidebar {
    position: sticky;
    /*top: 0;*/
}

.allsidebar {
    float: right;
    width: 30%;


}

.insidesidebar {
    padding: 10px 20px 10px 10px;
    display: flex;
    margin: auto;
    padding: 5px;
}

.cont3 {
    min-height: 100%;
    width: 70%;
}

.searchbar {
    border-radius: 5px 5px 5px 5px;
}

.video {
    /* border: 0.1px solid red; */
    border-bottom: 0.1px solid red;
    margin: 0 0px 10px 0;
    padding: 10px;
}

.comments {
    padding: 10px;
}

.video {
    text-align: center;
}

.text-comments {

    padding: 2.5px;
}

.video-side-text {
    clear: both;

}

.iframe {
    top: 0;
    left: 0;
    width: 66%;
    height: 360px;
}

.card-video {
    overflow: hidden;
}

.video-side-img {
    min-width: 25px;
    width: 32%;
    float: left;
    min-height: 40px;
    height: auto;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
}

.text-side-bar {
    text-align: center;
}

.btnright {
   float:right;
}
.btnleft {
    float: left;
}